{% extends 'books/base.html' %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-md-2 offset-md-1">
            <img src="{{book.image}}" alt="not found" height=200px width=150px>
        </div>
        <div class="col-md-8">
            <h4>{{book.name.upper}}</h4>            
            Author : {{book.author}}<br>
            Description : {{book.description}}<br>
            Price : ${{book.price}}<br>
            Status : {{book.status}}<br><br>
            <a href="{% url 'books:update' pk=book.pk %}" class='btn btn-warning'>Update Status</a>
            <a href="{% url 'books:delete' pk=book.pk %}" class='btn btn-danger'>Remove</a>
        </div>
    </div><br>
</div>
{% endblock body %}

